.pad{
    padding-left: 50px;
    padding-right: 50px;
    background-color: hsl(212, 45%, 89%);;
    color: black;
}
.img{
    width: 100%;
    border-radius: 20px;

}
body{
    margin: 0px;
    font-family: "Outfit", sans-serif;


}
.qr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    background-color: aliceblue;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 200px rgb(0, 12, 0);
    transform: rotate(5deg);
    width: 25%;

}
.title{
    color: hsl(218, 44%, 22%);
    margin-top: 20px;
    margin-bottom: 20px;

}
.description{
    margin-top: 15px;
    margin-bottom: 15px;
    color: hsl(216, 15%, 48%);

}